pkgbase = newc-bin
	pkgdesc = GUI-driven C project scaffolding and management tool
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/TheHomelessTwig/newc-rs
	arch = x86_64
	license = MIT
	provides = newc
	conflicts = newc
	source = newc-1.0.1::https://github.com/TheHomelessTwig/newc-rs/releases/download/v1.0.1/newc-x86_64-linux
	source = newc.desktop::https://raw.githubusercontent.com/TheHomelessTwig/newc-rs/v1.0.1/packaging/newc.desktop
	source = newc.svg::https://raw.githubusercontent.com/TheHomelessTwig/newc-rs/v1.0.1/packaging/newc.svg
	sha256sums = b6b2a0d249cfcbd704bf2c9f506cdb236b390bb9d5d8418d6626f46d6b02e007
	sha256sums = 8388994afba34c2288a248c4c674990ff1864101754d25d3bac4c1bdd8d3879e
	sha256sums = 93c243fb695cc7e66d7e85eebcff8b9c23bc449606d7b91a66dc8bc9197538ba

pkgname = newc-bin
